.letra{
    font-family: monospace;
    font-size: 2vh;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
.encabezado{
background-color: #4f5b80;
height: 10vh;
}
body{
    padding: 0%;
    margin: 0%;
}
.izq{
    background-color: #c0cdf2;
    height: 90vh;
}
.der{
    overflow: scroll;
}

